/*normaler Text*/

p {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 10px 16px 10px rgba(0,0,0,0.2);
    z-index: 1;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


.img-small {
    width: 30%;
    height: auto;
}

.animated-slide-in {
    animation: slideIn 2s ease-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%); /* Start von links */
        opacity: 0; /* Unsichtbar zu Beginn */
    }
    100% {
        transform: translateX(0); /* Endposition */
        opacity: 1; /* Voll sichtbar */
    }
}

.img-hover-zoom {
    width: 30%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.img-hover-zoom:hover {
    transform: scale(1.1); /* Vergrößert das Bild beim Hover */
}

.position-relative {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: -30px; /* Platziert das Overlay oberhalb des Bildes */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
    border-radius: 5px;
    display: none; /* Standardmäßig ausgeblendet */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.position-relative:hover .overlay {
    display: block; /* Zeigt das Overlay an, wenn die Maus über dem Bild ist */
}

.overlay a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
}

.overlay img {
    vertical-align: middle;
}




/* 
footer{
    margin-top: 10rem;
    height: 350px;
}

.welle{
    background: rgb(170,241,248);
    background: linear-gradient(90deg, rgba(170,241,248,1) 23%, rgba(137,138,138,1) 100%);
    margin-bottom: -3rem;
}

.page-header{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: white;
    margin-bottom: -3rem;
}

.firmenlogos{
    margin-top: -3.5rem;

}

.weniger{
    margin-top: -4rem;
}



/* ab jetzt für ul */
/* .listemitarbeiter{
    margin-top: 2rem;
    font-size: 1.2rem;
} */

/* .listemitarbeiter ul{
    list-style: none;
}

.listemitarbeiter ul li{
    background-image: url(../img/illustrationen/check2-circle.svg);
    background-repeat: no-repeat;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.neutral{
        text-decoration: none;
        color: black;
}

.fleischkonsum{
    margin-left: 3rem;
}

.bild{
    width: 30rem;
    height: 20rem;
}

.rot{
    color: red;
   
}

.braun{
    color:brown;
    text-align: center;

}

.accordion{
    margin-left: 15em;
    margin-right: 15rem;
    
} */


